@import '../../../styles/variables.sass'
.empty-state-container
    display: flex
    justify-content: center

    .container
        width: 260px
        gap: 10px
        display: flex

        button
            padding: 10px 20px

        .title 
            font-weight: bold
            font-size: 23px

        .message
            font-size: 11px
            color: $text-color
            font-weight: 600
